[submodule "submodule/cesium-terrain-builder"]
	path = submodule/cesium-terrain-builder
	url = https://github.com/geo-data/cesium-terrain-builder
[submodule "submodule/vcpkg"]
	path = submodule/vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "docs"]
	path = docs
	url = https://github.com/Stewinjo/Fo-E-PS-HTMLMap-Maps-Template
